# Issues using the sort_values(by= '',axis=1,inplace=False) method to sort by an Index Value
    #Created a new dataframe to test the sort_values() method#
#newdf2 = newdf.sort_values(by='2010',axis=1,inplace=False)  -------> Not working-There is a key error

     #Using the ".copy" method, I created a new dataframe called 'newdf2' -> Without affecting the original dataframe, 'newdf', a new dataframe called 'newdf2' was created.    
newdf2 = newdf.copy()

# 'Month' is set as the Index value here
#newdf2 = newdf.set_index('Month')

    #Figure out how to use the sort_values() method
#newdf2 = newdf.sort_values(by='

# You can display two specific columns using the Double Brackets ([[  ]])
newdf2[['Month','Year']]

    #When using the '.sort_values' method, a key error is displayed
#newdf2.sort_values(by='Nov',axis=1)#,inplace = False)

    #Rows with duplicate values were dropped using the '.drop_duplicates()' method.
#newdf2['Month'].drop_duplicates()

# 'Year' is set as the Index value here
    #When the 'Year' column is set as the index, the variable type is a string. 
newdf2 = newdf.set_index('Year')
indexval = newdf2.index[0]
type(indexval)

# 'Profits/Losses' is set as the Index value here
    #When the 'Profits/Losses' column is set as the index, the variable type is an integer(numpy.int64).
newdf2 = newdf.set_index('Profits/Losses')
indexval = newdf2.index[0]
indexval
type(indexval)

# 'Change in Profits/Losses' is set as the Index value here
    #When the 'Change in Profits/Losses' column is set as the index, the variable type is a float(numpy.float64).newdf2 = newdf.set_index('Change in Profits/Losses')
indexval = newdf2.index[0]
indexval
type(indexval)

# # * The total number of months included in the dataset
  #* The net total amount of "Profit/Losses" over the entire period
  #* The average of the changes in "Profit/Losses" over the entire period
  #* The greatest increase in profits (date and amount) over the entire period
 # * The greatest decrease in losses (date and amount) over the entire period
#* As an example, your analysis should look similar to the one below:
 # ```text
    # Financial Analysis
    # ----------------------------
   #  Total Months: 86
   #  Total: $38382578
  #   Average  Change: $-2315.12
   #  Greatest Increase in Profits: Feb-2012 ($1- 926159)   
  #   Greatest Decrease in Profits: Sep-2013 ($- 2196167)

#In addition, your final script should both print the analysis to the terminal and export a text file with the results.

# Variables Used
- uniqueyearslist
- monthslist_final
- monthsgrouped

In [145]:
import pandas as pd 
import os
import sys
import csv
import pprint 
csvpath = "C:/Users/jmanj/OneDrive/Desktop/Resources/budget_data.csv"

# Variables Used
- uniqueyearsdict - Line 29
- uniqueyearslist - Line 25
- monthslist_final - Line 26
- monthsgrouped - Line 27

In [146]:

csvpath = "C:/Users/jmanj/OneDrive/Desktop/Resources/budget_data.csv"
month_dictionary = {
    "Jan":[],
    "Feb":[],
    "Mar":[],
    "Apr":[],
    "May":[],
    "Jun":[],
    "Jul":[],
    "Aug":[],
    "Sep":[],
    "Oct":[],
    "Nov":[],
    "Dec":[]
}

month = []

In [147]:
month_chr = '' 
with open(csvpath,newline='') as csvfile: 
    
        
    csvreader = csv.reader(csvfile,delimiter=",")
    csvheader = next(csvreader)
    
    for row1 in csvreader:
        
        
        strmonth = str(row1)
        month1 = strmonth.split(',')
        month.append(month1)
    
    
        for row2 in month: 
            sorting_str = str(row2[0])

In [148]:
month_df = pd.DataFrame(month)
month_df[1][0][2:8]
month_df[1][0]
#delchr_len = len(month_df[1][0])
#delchr_len
#month_df[1][0][2:(delchr_len-2)]

" '867884']"

In [149]:
var1 = month_df[1][0]
var2 = ''
for val in var1:
    if val == "]":
        var1.replace("]","")
    elif val == "'":
        var1.replace("'","")
    else:
        var2 = var2 + val
int(var2)

867884

In [150]:
counter1 = 0 
originalval = month_df[1][counter1]
newval = ''
list1 = [] 
while counter1 < 85:
    
   
    for chr1 in month_df[1][counter1]:
        if chr1 == "]":
            originalval.replace("]","")
        elif chr1 == "'":
            originalval.replace("'","")
        else:
            newval = newval + chr1
            
    list1.append(int(newval))
    counter1 = counter1 + 1 
    newval = ''

#For the code below

list2[3].split('-')[1]

In [151]:
counter2 = 0 
datalist = []
oval = month_df[1][counter2]
newval2 = ''
while counter2 < 86:
    
 
    for chr2 in month_df[0][counter2]:
        if chr2 == "[": 
            oval.replace("[","")
        elif chr2 == "'":
            oval.replace("'","")
        else:
            newval2 = newval2 + chr2
    
    datalist.append(newval2.split('-'))
    
    counter2 = counter2 + 1 
    newval2 = ''

In [152]:
datalist

[['Jan', '2010'],
 ['Feb', '2010'],
 ['Mar', '2010'],
 ['Apr', '2010'],
 ['May', '2010'],
 ['Jun', '2010'],
 ['Jul', '2010'],
 ['Aug', '2010'],
 ['Sep', '2010'],
 ['Oct', '2010'],
 ['Nov', '2010'],
 ['Dec', '2010'],
 ['Jan', '2011'],
 ['Feb', '2011'],
 ['Mar', '2011'],
 ['Apr', '2011'],
 ['May', '2011'],
 ['Jun', '2011'],
 ['Jul', '2011'],
 ['Aug', '2011'],
 ['Sep', '2011'],
 ['Oct', '2011'],
 ['Nov', '2011'],
 ['Dec', '2011'],
 ['Jan', '2012'],
 ['Feb', '2012'],
 ['Mar', '2012'],
 ['Apr', '2012'],
 ['May', '2012'],
 ['Jun', '2012'],
 ['Jul', '2012'],
 ['Aug', '2012'],
 ['Sep', '2012'],
 ['Oct', '2012'],
 ['Nov', '2012'],
 ['Dec', '2012'],
 ['Jan', '2013'],
 ['Feb', '2013'],
 ['Mar', '2013'],
 ['Apr', '2013'],
 ['May', '2013'],
 ['Jun', '2013'],
 ['Jul', '2013'],
 ['Aug', '2013'],
 ['Sep', '2013'],
 ['Oct', '2013'],
 ['Nov', '2013'],
 ['Dec', '2013'],
 ['Jan', '2014'],
 ['Feb', '2014'],
 ['Mar', '2014'],
 ['Apr', '2014'],
 ['May', '2014'],
 ['Jun', '2014'],
 ['Jul', '2014'],
 ['Aug', '2014'],
 ['Sep', '2014'],
 ['Oct', '2014'],
 ['Nov', '2014'],
 ['Dec', '2014'],
 ['Jan', '2015'],
 ['Feb', '2015'],
 ['Mar', '2015'],
 ['Apr', '2015'],
 ['May', '2015'],
 ['Jun', '2015'],
 ['Jul', '2015'],
 ['Aug', '2015'],
 ['Sep', '2015'],
 ['Oct', '2015'],
 ['Nov', '2015'],
 ['Dec', '2015'],
 ['Jan', '2016'],
 ['Feb', '2016'],
 ['Mar', '2016'],
 ['Apr', '2016'],
 ['May', '2016'],
 ['Jun', '2016'],
 ['Jul', '2016'],
 ['Aug', '2016'],
 ['Sep', '2016'],
 ['Oct', '2016'],
 ['Nov', '2016'],
 ['Dec', '2016'],
 ['Jan', '2017'],
 ['Feb', '2017']]

In [153]:
mnamedf = pd.DataFrame(datalist)

mnamedf.columns = ['Month','Year']
#mnamedf.set_index('Month')
mnamedf

   Month  Year
0    Jan  2010
1    Feb  2010
2    Mar  2010
3    Apr  2010
4    May  2010
5    Jun  2010
6    Jul  2010
7    Aug  2010
8    Sep  2010
9    Oct  2010
10   Nov  2010
11   Dec  2010
12   Jan  2011
13   Feb  2011
14   Mar  2011
15   Apr  2011
16   May  2011
17   Jun  2011
18   Jul  2011
19   Aug  2011
20   Sep  2011
21   Oct  2011
22   Nov  2011
23   Dec  2011
24   Jan  2012
25   Feb  2012
26   Mar  2012
27   Apr  2012
28   May  2012
29   Jun  2012
..   ...   ...
56   Sep  2014
57   Oct  2014
58   Nov  2014
59   Dec  2014
60   Jan  2015
61   Feb  2015
62   Mar  2015
63   Apr  2015
64   May  2015
65   Jun  2015
66   Jul  2015
67   Aug  2015
68   Sep  2015
69   Oct  2015
70   Nov  2015
71   Dec  2015
72   Jan  2016
73   Feb  2016
74   Mar  2016
75   Apr  2016
76   May  2016
77   Jun  2016
78   Jul  2016
79   Aug  2016
80   Sep  2016
81   Oct  2016
82   Nov  2016
83   Dec  2016
84   Jan  2017
85   Feb  2017

[86 rows x 2 columns]

In [154]:
 #The total number of months included in the dataset
len(month_df)

86

In [155]:
list1
valdf = pd.DataFrame(list1)
valdf.columns = ['Profits/Losses']

In [156]:
#valdf.set_index('Profits/Losses')
valdf['Profits/Losses'][0]

867884

In [157]:
origdfpl = pd.concat([mnamedf,valdf],axis = 1, join = 'inner')
origdfpl

   Month  Year  Profits/Losses
0    Jan  2010          867884
1    Feb  2010          984655
2    Mar  2010          322013
3    Apr  2010          -69417
4    May  2010          310503
5    Jun  2010          522857
6    Jul  2010         1033096
7    Aug  2010          604885
8    Sep  2010         -216386
9    Oct  2010          477532
10   Nov  2010          893810
11   Dec  2010          -80353
12   Jan  2011          779806
13   Feb  2011         -335203
14   Mar  2011          697845
15   Apr  2011          793163
16   May  2011          485070
17   Jun  2011          584122
18   Jul  2011           62729
19   Aug  2011          668179
20   Sep  2011          899906
21   Oct  2011          834719
22   Nov  2011          132003
23   Dec  2011          309978
24   Jan  2012         -755566
25   Feb  2012         1170593
26   Mar  2012          252788
27   Apr  2012         1151518
28   May  2012          817256
29   Jun  2012          570757
..   ...   ...             ...
55   Aug  2014          800701
56   Sep  2014         1166643
57   Oct  2014          947333
58   Nov  2014          578668
59   Dec  2014          988505
60   Jan  2015         1139715
61   Feb  2015         1029471
62   Mar  2015          687533
63   Apr  2015         -524626
64   May  2015          158620
65   Jun  2015           87795
66   Jul  2015          423389
67   Aug  2015          840723
68   Sep  2015          568529
69   Oct  2015          332067
70   Nov  2015          989499
71   Dec  2015          778237
72   Jan  2016          650000
73   Feb  2016        -1100387
74   Mar  2016         -174946
75   Apr  2016          757143
76   May  2016          445709
77   Jun  2016          712961
78   Jul  2016        -1163797
79   Aug  2016          569899
80   Sep  2016          768450
81   Oct  2016          102685
82   Nov  2016          795914
83   Dec  2016           60988
84   Jan  2017          138230

[85 rows x 3 columns]

In [158]:
origdfpl['Profits/Losses'][1]

984655

In [159]:
#The net total amount of "Profit/Losses" over the entire period

sumtotal = origdfpl['Profits/Losses'].sum()
sumtotal

37711479

In [160]:
#The net total amount of Change in "Profit/Losses" over the entire period
pllist = [] 
counterE = 0 
currval = origdfpl['Profits/Losses'][counterE]
preval = 0 
plchange = 0 
while counterE < 84:
    
    nxtval = origdfpl['Profits/Losses'][counterE+1]
    
    plchange = float(nxtval) - currval
    pllist.append(plchange)
    counterE = counterE + 1
    

    nxtval = ''
    plchange = 0

In [161]:
#pllist
plchangedf = pd.DataFrame(pllist)
plchangedf.columns = ['Change in Profits/Losses']
plchangedf

    Change in Profits/Losses
0                   116771.0
1                  -545871.0
2                  -937301.0
3                  -557381.0
4                  -345027.0
5                   165212.0
6                  -262999.0
7                 -1084270.0
8                  -390352.0
9                    25926.0
10                 -948237.0
11                  -88078.0
12                -1203087.0
13                 -170039.0
14                  -74721.0
15                 -382814.0
16                 -283762.0
17                 -805155.0
18                 -199705.0
19                   32022.0
20                  -33165.0
21                 -735881.0
22                 -557906.0
23                -1623450.0
24                  302709.0
25                 -615096.0
26                  283634.0
27                  -50628.0
28                 -297127.0
29                 -361182.0
..                       ...
54                  -67183.0
55                  298759.0
56                   79449.0
57                 -289216.0
58                  120621.0
59                  271831.0
60                  161587.0
61                 -180351.0
62                -1392510.0
63                 -709264.0
64                 -780089.0
65                 -444495.0
66                  -27161.0
67                 -299355.0
68                 -535817.0
69                  121615.0
70                  -89647.0
71                 -217884.0
72                -1968271.0
73                -1042830.0
74                 -110741.0
75                 -422175.0
76                 -154923.0
77                -2031681.0
78                 -297985.0
79                  -99434.0
80                 -765199.0
81                  -71970.0
82                 -806896.0
83                 -729654.0

[84 rows x 1 columns]

In [162]:
#month_df.drop(['Profits/Losses1'], axis = 1, inplace = True) -> Used this statement to drop columns that weren't needed

newdf = pd.concat([origdfpl,plchangedf],axis = 1, join = 'inner')

In [163]:
newdf

   Month  Year  Profits/Losses  Change in Profits/Losses
0    Jan  2010          867884                  116771.0
1    Feb  2010          984655                 -545871.0
2    Mar  2010          322013                 -937301.0
3    Apr  2010          -69417                 -557381.0
4    May  2010          310503                 -345027.0
5    Jun  2010          522857                  165212.0
6    Jul  2010         1033096                 -262999.0
7    Aug  2010          604885                -1084270.0
8    Sep  2010         -216386                 -390352.0
9    Oct  2010          477532                   25926.0
10   Nov  2010          893810                 -948237.0
11   Dec  2010          -80353                  -88078.0
12   Jan  2011          779806                -1203087.0
13   Feb  2011         -335203                 -170039.0
14   Mar  2011          697845                  -74721.0
15   Apr  2011          793163                 -382814.0
16   May  2011          485070                 -283762.0
17   Jun  2011          584122                 -805155.0
18   Jul  2011           62729                 -199705.0
19   Aug  2011          668179                   32022.0
20   Sep  2011          899906                  -33165.0
21   Oct  2011          834719                 -735881.0
22   Nov  2011          132003                 -557906.0
23   Dec  2011          309978                -1623450.0
24   Jan  2012         -755566                  302709.0
25   Feb  2012         1170593                 -615096.0
26   Mar  2012          252788                  283634.0
27   Apr  2012         1151518                  -50628.0
28   May  2012          817256                 -297127.0
29   Jun  2012          570757                 -361182.0
..   ...   ...             ...                       ...
54   Jul  2014          689161                  -67183.0
55   Aug  2014          800701                  298759.0
56   Sep  2014         1166643                   79449.0
57   Oct  2014          947333                 -289216.0
58   Nov  2014          578668                  120621.0
59   Dec  2014          988505                  271831.0
60   Jan  2015         1139715                  161587.0
61   Feb  2015         1029471                 -180351.0
62   Mar  2015          687533                -1392510.0
63   Apr  2015         -524626                 -709264.0
64   May  2015          158620                 -780089.0
65   Jun  2015           87795                 -444495.0
66   Jul  2015          423389                  -27161.0
67   Aug  2015          840723                 -299355.0
68   Sep  2015          568529                 -535817.0
69   Oct  2015          332067                  121615.0
70   Nov  2015          989499                  -89647.0
71   Dec  2015          778237                 -217884.0
72   Jan  2016          650000                -1968271.0
73   Feb  2016        -1100387                -1042830.0
74   Mar  2016         -174946                 -110741.0
75   Apr  2016          757143                 -422175.0
76   May  2016          445709                 -154923.0
77   Jun  2016          712961                -2031681.0
78   Jul  2016        -1163797                 -297985.0
79   Aug  2016          569899                  -99434.0
80   Sep  2016          768450                 -765199.0
81   Oct  2016          102685                  -71970.0
82   Nov  2016          795914                 -806896.0
83   Dec  2016           60988                 -729654.0

[84 rows x 4 columns]

In [164]:
#The average of the changes in "Profit/Losses" over the entire period
avgpl = newdf['Change in Profits/Losses'].mean()
avgpl

-429269.7738095238

In [165]:
#The net total amount of Change in "Profit/Losses" over the entire period
sumchangepl = newdf['Change in Profits/Losses'].sum()
sumchangepl

-36058661.0

In [166]:
#The greatest increase in profits (date and amount) over the entire period   #The greatest decrease in losses (date and amount) over the entire period

counterGID = 0 
currval = newdf['Change in Profits/Losses'][counterGID]
nxtval = newdf['Change in Profits/Losses'][counterGID+1]
greatestincrease = 0
greatestdecrease = 0

if currval > nxtval: 
    greatestincrease = currval
    greatestdecrease = nxtval
    
while counterGID< 85:
    
    if greatestincrease > nxtval:
        greatestincrease = greatestincrease
        
    elif greatestincrease <nxtval: 
        greatestincrease = nxtval
        
    if greatestdecrease > nxtval:
        greatestdecrease = nxtval
        
    elif greatestdecrease < nxtval:
        greatestdecrease = greatestdecrease
        

   
    counterGID = counterGID + 1
    

    nxtval = 0
    plchange = 0 
print("The Greatest Increase is: ", greatestincrease)
print("The Greatest Decrease is: ", greatestdecrease)

The Greatest Increase is:  116771.0
The Greatest Decrease is:  -545871.0

In [167]:
#newdf['Change in Profits/Losses']
newdf

   Month  Year  Profits/Losses  Change in Profits/Losses
0    Jan  2010          867884                  116771.0
1    Feb  2010          984655                 -545871.0
2    Mar  2010          322013                 -937301.0
3    Apr  2010          -69417                 -557381.0
4    May  2010          310503                 -345027.0
5    Jun  2010          522857                  165212.0
6    Jul  2010         1033096                 -262999.0
7    Aug  2010          604885                -1084270.0
8    Sep  2010         -216386                 -390352.0
9    Oct  2010          477532                   25926.0
10   Nov  2010          893810                 -948237.0
11   Dec  2010          -80353                  -88078.0
12   Jan  2011          779806                -1203087.0
13   Feb  2011         -335203                 -170039.0
14   Mar  2011          697845                  -74721.0
15   Apr  2011          793163                 -382814.0
16   May  2011          485070                 -283762.0
17   Jun  2011          584122                 -805155.0
18   Jul  2011           62729                 -199705.0
19   Aug  2011          668179                   32022.0
20   Sep  2011          899906                  -33165.0
21   Oct  2011          834719                 -735881.0
22   Nov  2011          132003                 -557906.0
23   Dec  2011          309978                -1623450.0
24   Jan  2012         -755566                  302709.0
25   Feb  2012         1170593                 -615096.0
26   Mar  2012          252788                  283634.0
27   Apr  2012         1151518                  -50628.0
28   May  2012          817256                 -297127.0
29   Jun  2012          570757                 -361182.0
..   ...   ...             ...                       ...
54   Jul  2014          689161                  -67183.0
55   Aug  2014          800701                  298759.0
56   Sep  2014         1166643                   79449.0
57   Oct  2014          947333                 -289216.0
58   Nov  2014          578668                  120621.0
59   Dec  2014          988505                  271831.0
60   Jan  2015         1139715                  161587.0
61   Feb  2015         1029471                 -180351.0
62   Mar  2015          687533                -1392510.0
63   Apr  2015         -524626                 -709264.0
64   May  2015          158620                 -780089.0
65   Jun  2015           87795                 -444495.0
66   Jul  2015          423389                  -27161.0
67   Aug  2015          840723                 -299355.0
68   Sep  2015          568529                 -535817.0
69   Oct  2015          332067                  121615.0
70   Nov  2015          989499                  -89647.0
71   Dec  2015          778237                 -217884.0
72   Jan  2016          650000                -1968271.0
73   Feb  2016        -1100387                -1042830.0
74   Mar  2016         -174946                 -110741.0
75   Apr  2016          757143                 -422175.0
76   May  2016          445709                 -154923.0
77   Jun  2016          712961                -2031681.0
78   Jul  2016        -1163797                 -297985.0
79   Aug  2016          569899                  -99434.0
80   Sep  2016          768450                 -765199.0
81   Oct  2016          102685                  -71970.0
82   Nov  2016          795914                 -806896.0
83   Dec  2016           60988                 -729654.0

[84 rows x 4 columns]

# List Inputs for Manipulating the Data

count1 = 1 
monthslist_final = newdf['Month']
print('First avaliable range input')
print(monthslist_final[0:3])
print('----------------------')
print('A single number for the second avaliable range input')
print(monthslist_final[0:3][1])
print('----------------------')
print('A range for the first and second range inputs')
print(monthslist_final[0:3][0:5])
print('----------------------')
print('Single number for the first range input & a range for the second avaliable range input')
print(monthslist_final[0][0:3])
print('----------------------')
print('Single number for the first range input & a range for the second avaliable range input')
print(monthslist_final[0:3][0:3][0:2])

In [168]:
#Creating a List of all thd Unique Years
uniqueyears = newdf['Year'].drop_duplicates()
uniqueyearslist = []
for uniqueval in uniqueyears:
    uniqueyearslist.append(uniqueval) 
uniqueyearslist

['2010', '2011', '2012', '2013', '2014', '2015', '2016']

In [169]:
count1 = 1 
monthslist_final = newdf['Month']
print(monthslist_final[0][0:3])

Jan

In [170]:
#Defining my variables
counter1 = 0
mcount = 0
yearscounter = 0
monthsgrouped = []
#monthcomparison - A constant that is used to figure out when a new year starts
monthcomparison = monthslist_final[0][0:3]

#Grouping the current & following months together 
while counter1 < 83:
    monthsgrouped.append(monthslist_final[counter1][0:3] + ' ' + monthslist_final[counter1+1][0:3])
    yearscounter = yearscounter + 1
    mcount = mcount + 1
    counter1 = counter1 + 1     
monthsgrouped

['Jan Feb',
 'Feb Mar',
 'Mar Apr',
 'Apr May',
 'May Jun',
 'Jun Jul',
 'Jul Aug',
 'Aug Sep',
 'Sep Oct',
 'Oct Nov',
 'Nov Dec',
 'Dec Jan',
 'Jan Feb',
 'Feb Mar',
 'Mar Apr',
 'Apr May',
 'May Jun',
 'Jun Jul',
 'Jul Aug',
 'Aug Sep',
 'Sep Oct',
 'Oct Nov',
 'Nov Dec',
 'Dec Jan',
 'Jan Feb',
 'Feb Mar',
 'Mar Apr',
 'Apr May',
 'May Jun',
 'Jun Jul',
 'Jul Aug',
 'Aug Sep',
 'Sep Oct',
 'Oct Nov',
 'Nov Dec',
 'Dec Jan',
 'Jan Feb',
 'Feb Mar',
 'Mar Apr',
 'Apr May',
 'May Jun',
 'Jun Jul',
 'Jul Aug',
 'Aug Sep',
 'Sep Oct',
 'Oct Nov',
 'Nov Dec',
 'Dec Jan',
 'Jan Feb',
 'Feb Mar',
 'Mar Apr',
 'Apr May',
 'May Jun',
 'Jun Jul',
 'Jul Aug',
 'Aug Sep',
 'Sep Oct',
 'Oct Nov',
 'Nov Dec',
 'Dec Jan',
 'Jan Feb',
 'Feb Mar',
 'Mar Apr',
 'Apr May',
 'May Jun',
 'Jun Jul',
 'Jul Aug',
 'Aug Sep',
 'Sep Oct',
 'Oct Nov',
 'Nov Dec',
 'Dec Jan',
 'Jan Feb',
 'Feb Mar',
 'Mar Apr',
 'Apr May',
 'May Jun',
 'Jun Jul',
 'Jul Aug',
 'Aug Sep',
 'Sep Oct',
 'Oct Nov',
 'Nov Dec']

In [171]:
uniqueyearslist

['2010', '2011', '2012', '2013', '2014', '2015', '2016']

In [172]:
#Creating a Dictionary based on the Years
uniqueyearsdict = {
    '2010':[],
    '2011':[],
    '2012':[],
    '2013':[],
    '2014':[],
    '2015':[],
    '2016':[]
}
#-------Retrieving the index 'newdf2.index[1]'-------#
#newdf2.index[1]

In [173]:
#Deriving where to start the next loop based on the month November or 'Nov'
for y in range(len(newdf)):
    
    if newdf['Month'][y] == 'Nov':
        
        print(newdf['Month'][y])
        print(newdf['Year'][y])

Nov
2010
Nov
2011
Nov
2012
Nov
2013
Nov
2014
Nov
2015
Nov
2016

# -------------------------------------------------------

# Retrieving each Month name from a Dataframe using a 'for' loop

monthsgrouped

In [174]:
#Retrieving each Month name from a list using a 'for' loop
indivmonths = []
for individual in range(len(datalist)):
    if datalist[individual] == 'Jan':
           pass 
    else:
        indivmonths.append(datalist[individual])
        
#individualdf is the Dataframe for the sorted data
#individualdf = pd.DataFrame(monthsgrouped)

# While Iterating, I'm able to retrieve years 2010-2016
# The Iterator crashes around year 2017 or Index number [85]

In [190]:
yearscounter = 0
year = ''
for counter in range(len(datalist)):
    if datalist[counter][0] =='Jan':
        year = uniqueyearslist[yearscounter]
        uniqueyearsdict[year].append(datalist[counter][])

'2010'

# Retrieving each Month's group name from a Dataframe using a 'for' loop
groupedmonths = []
yearscounter = 0
for z in range(len(groupedmonths)):
    
    if groupedmonths[z] == 'Jan Feb':
        uniqueyearsdict[uniqueyearslist[yearscounter]].append()
    
    else:
        monthsg.append(groupedmonths[z])
    
#groupedmonthsdf = pd.DataFrame(groupedmonths)

In [176]:
gmonthloc = 0
num = 0
monthsgrouped[0]

#Iterating through the grouped months list
for gmonthloc in range(len(monthsgrouped)):
    
    print(monthsgrouped[gmonthloc])
    gmonthloc = gmonthloc + 1

Jan Feb
Feb Mar
Mar Apr
Apr May
May Jun
Jun Jul
Jul Aug
Aug Sep
Sep Oct
Oct Nov
Nov Dec
Dec Jan
Jan Feb
Feb Mar
Mar Apr
Apr May
May Jun
Jun Jul
Jul Aug
Aug Sep
Sep Oct
Oct Nov
Nov Dec
Dec Jan
Jan Feb
Feb Mar
Mar Apr
Apr May
May Jun
Jun Jul
Jul Aug
Aug Sep
Sep Oct
Oct Nov
Nov Dec
Dec Jan
Jan Feb
Feb Mar
Mar Apr
Apr May
May Jun
Jun Jul
Jul Aug
Aug Sep
Sep Oct
Oct Nov
Nov Dec
Dec Jan
Jan Feb
Feb Mar
Mar Apr
Apr May
May Jun
Jun Jul
Jul Aug
Aug Sep
Sep Oct
Oct Nov
Nov Dec
Dec Jan
Jan Feb
Feb Mar
Mar Apr
Apr May
May Jun
Jun Jul
Jul Aug
Aug Sep
Sep Oct
Oct Nov
Nov Dec
Dec Jan
Jan Feb
Feb Mar
Mar Apr
Apr May
May Jun
Jun Jul
Jul Aug
Aug Sep
Sep Oct
Oct Nov
Nov Dec

# --------------------------------------------------------------------------------------------------- #

In [180]:
monthsgrouped
x = 0
counter = 0
while x < 1:   #len(monthsgrouped):
    print(monthsgrouped[x])
    x = x + 1

Jan Feb

In [178]:
#Defining my variables 
counter1 = 0
yearscounter = 0
monthcomparison = monthslist_final[0][0:3]
monthslist_final2 = []

#Sorting monthsgrouped into the dictionary-uniqueyearsdict 
while counter1 < 84:
    
    #Compares the loops current grouped month to the first grouped month
    if monthslistgrouped[counter1][0:3] == monthcomparison:
        monthslist_final2.append(monthslist_final[counter1][0:3] + ' ' + monthslist[counter1+1][0:3])
        
        yearscounter = yearscounter + 1
        mcount = mcount + 1
    
    counter1 = counter1 + 1

NameError: name 'monthslistgrouped' is not defined

In [179]:
monthslistyear

NameError: name 'monthslistyear' is not defined

In [ ]:
counterm = 0
yearscounter = 0
mcomp = monthslist_final[0][0:3]
mcount = 0
while counterm < 84:
    
    if monthslist_final[counterm][0:3] == mcomp:
        yearslist.append()
        mcount = mcount + 1 
    yearscounter = yearscounter + 1
    counterm = counterm + 1

In [ ]:
counter3 = 0 
while counter3 <= 84:
    counter3 = counter3+ 1
counter3

    if newdf['Year'][count] == newdf['Year'][count+1]:
        years = newdf['Year'][count+1]
    else:
        years = newdf['Year'][count] + ' ' + newdf['Year'][count+1]
    monthslist.append(months)
    yearslist.append(years)
    z
    count = count + 1
    months = ''
    years = ''

In [ ]:
#Number of Rows in the Months Dataframe 
monthsdf = pd.DataFrame(monthslist)
monthsdf.shape[0]

In [ ]:
monthsdf

In [ ]:
valmo = monthsdf.drop_duplicates()
valmo.count()
valmo

In [ ]:
#-------------------------------------------#

In [ ]:
yearslist

In [ ]:
monthslist[0]

In [ ]:
count = 0 
months = ''
years = ''
monthslist = []
yearslist = []
summarydict = {}
while count < 84: 
    
    monthslist.append((newdf['Month'][int(count)]) + ' '+ (newdf['Month'][int(count)+1]))
    
  
    print(monthslist[count])
    count = count + 1
    #months = ''
    years = ''

In [ ]:
#Character Ranges for the current/following -> month[0:3] & [4:7]
print(monthslist[1][0:3])
print(monthslist[1][4:7])

In [ ]:
yearslist
new

In [ ]:
#monthslist
newmdf = pd.DataFrame(monthslist)
newmdf.columns = ['Months']
#yearslist
newydf = pd.DataFrame(yearslist)
newydf.columns = ['Years']

In [ ]:
#newmdf
#newydf
newchangedf = pd.concat([newmdf,newydf,newdf['Change in Profits/Losses']], axis = 1, join = 'inner')

In [ ]:
newchangedfI
++

In [ ]:
  # Financial Analysis
    # ----------------------------
   #  Total Months: 86
   #  Total: $38382578
  #   Average  Change: $-2315.12
   #  Greatest Increase in Profits: Feb-2012 ($1- 926159)   
  #   Greatest Decrease in Profits: Sep-2013 ($- 2196167)

#In addition, your final script should both print the analysis to the terminal and export a text file with the results.

#The net total amount of Change in "Profit/Losses" over the entire period

counterE = 0 
currval = origdfpl['Profits/Losses'][counterE]
preval = 0 
plchange = 0 
while counterE < 85:
    
    nxtval = origdfpl['Profits/Losses'][counterE+1]
    
    plchange = float(nxtval) - currval
    pllist.append(plchange)
    counterE = counterE + 1
    

    nxtval = ''
    plchange = 0