In [1]:
#The total number of votes cast
    #A complete list of candidates who received votes
      #The percentage of votes each candidate won
          #The total number of votes each candidate won
              #The winner of the election based on popular vote.
 #As an example, your analysis should look similar to the one below:
 # ```text
 # Election Results
 # -------------------------
 # Total Votes: 3521001
 # -------------------------
 # Khan: 63.000% (2218231)
 # Correy: 20.000% (704200)
 # Li: 14.000% (492940)
#  O'Tooley: 3.000% (105630)
#  -------------------------
 # Winner: Khan
 # -------------------------

#In addition, your final script should both print the analysis to the terminal and export a text file with the results.

In [2]:
#Dependencies 
import csv
import os
import copy
import math
import statistics 
import pandas as pd
import numpy as np

#Finding Unique Values(Candidates Unaccounted For)
def totalnum(data):

#The total number of votes cast
def totalnum(data):
    total_votes = candidates_votes.values().sum()

#A complete list of candidates who received votes
def totalnum(data):
    candidates_votes.show()

#The percentage of votes each candidate won
def percentagevotes(data):
    candidates_percent = ((candidates_votes.values())/total_votes) * 100
    candidates_percent.show()

#The total number of votes each candidate won
def totalnum(data):
    candidates_votes.items()

#The winner of the election based on popular vote.
def winner(data):
    winning_candidate = max(candidates_percent)
    print("The winner of the Election is ",winning_candidate)

#Finding the County Names
def countys(data):

In [3]:
#----------------------------------------
#csv with the data - "election_data.csv"
#----------------------------------------
csvpath = 'C:/Users/jmanj/OneDrive/Desktop/Resources/election_data.csv'

In [105]:
electiondata = []
strconversion = ''
with open(csvpath,newline = '') as csvfile:
    
    csvreader = csv.reader(csvfile,delimiter=",")
    csvheader = next(csvreader)
    
    for row1 in csvreader: 
        electiondata.append(row1)

In [106]:
electiondf = pd.DataFrame(electiondata)
electiondf.columns = ['Voter ID', 'County', 'Candidate']
electiondf

         Voter ID   County Candidate
0        12864552    Marsh      Khan
1        17444633    Marsh    Correy
2        19330107    Marsh      Khan
3        19865775    Queen      Khan
4        11927875    Marsh      Khan
5        19014606    Marsh        Li
6        17775191    Queen    Correy
7        14003692    Marsh      Khan
8        14255761    Marsh      Khan
9        13870173    Marsh    Correy
10       16793141    Marsh      Khan
11       10591158    Bamoo    Correy
12       12344763  Trandee      Khan
13       18611011    Marsh      Khan
14       17845903    Marsh    Correy
15       12621425  Trandee      Khan
16       14365844    Marsh    Correy
17       13444989    Marsh    Correy
18       19204501  Trandee      Khan
19       10098063    Queen    Correy
20       19843246    Marsh    Correy
21       11509120    Marsh    Correy
22       13402499    Marsh    Correy
23       18138694    Marsh      Khan
24       15056703    Marsh      Khan
25       12026178    Queen      Khan
26       16667390    Marsh      Khan
27       12847422    Queen      Khan
28       10599242    Marsh      Khan
29       18558857    Queen    Correy
...           ...      ...       ...
1048545  13646594    Marsh      Khan
1048546  17099002    Bamoo    Correy
1048547  15157227    Marsh      Khan
1048548  15217932    Marsh      Khan
1048549  11847587    Bamoo      Khan
1048550  18182674    Marsh      Khan
1048551  11826884    Queen    Correy
1048552  10935101    Marsh      Khan
1048553  14151060    Marsh        Li
1048554  11025089    Marsh      Khan
1048555  17333106    Marsh      Khan
1048556  16140798    Marsh      Khan
1048557  10583535    Marsh    Correy
1048558  15814688    Marsh      Khan
1048559  16895214    Marsh      Khan
1048560  17290885    Marsh      Khan
1048561  11415609    Bamoo      Khan
1048562  15397922  Trandee        Li
1048563  12409399    Marsh      Khan
1048564  17708574    Queen        Li
1048565  19748014    Queen    Correy
1048566  15516808    Bamoo      Khan
1048567  11345111    Bamoo      Khan
1048568  13469777    Marsh      Khan
1048569  13477300    Marsh      Khan
1048570  15257733    Marsh      Khan
1048571  18621583    Marsh      Khan
1048572  15990024    Queen      Khan
1048573  11307924    Marsh      Khan
1048574  15590933    Marsh      Khan

[1048575 rows x 3 columns]

In [107]:
#The total number of votes cast
totalvotescast = len(electiondf)
totalvotescast

1048575

In [108]:
CandidateVoteslist =[]
#A complete list of candidates who received votes
CandidateVoteslist.append(electiondf.Candidate.unique())
CandidateVoteslist
candidatedf = pd.DataFrame(CandidateVoteslist)

In [109]:
candidatedf

      0       1   2         3
0  Khan  Correy  Li  O'Tooley

In [110]:
totalcandidatevotes = electiondf['Candidate'].value_counts()
totalcandidatevotes

Khan        661583
Correy      209046
Li          146360
O'Tooley     31586
Name: Candidate, dtype: int64

In [121]:
#The percentage of votes each candidate won
counter = 0 
votes = 0
totalcdf = []
percentagevotes = 0

while counter < 4: 
    votes = totalcandidatevotes[counter]
    percentagevotes = (votes/totalvotescast) * 100
    totalcdf.append(percentagevotes)
    
    votes = 0
    percentagevotes = 0
    counter = counter + 1
totalcdf

[63.09353169778033, 19.93619912738717, 13.957990606299026, 3.0122785685334863]

In [123]:
#The total number of votes each candidate won/countys
totalnum = []
for num1  in totalcdf: 
    totalnum.append((num1/100)*totalvotescast)
totalnum

[661583.0, 209046.0, 146360.0, 31586.000000000004]

In [124]:
#The winner of the election based on popular vote.
electiondf.describe()

        Voter ID   County Candidate
count    1048575  1048575   1048575
unique   1048575        5         4
top     14208126    Marsh      Khan
freq           1   674717    661583

In [ ]:
#In addition, your final script should both print the analysis to the terminal and export a text file with the results.