In [1]:
#The total number of votes cast
    #A complete list of candidates who received votes
      #The percentage of votes each candidate won
          #The total number of votes each candidate won
              #The winner of the election based on popular vote.
 #As an example, your analysis should look similar to the one below:
 # ```text
 # Election Results
 # -------------------------
 # Total Votes: 3521001
 # -------------------------
 # Khan: 63.000% (2218231)
 # Correy: 20.000% (704200)
 # Li: 14.000% (492940)
#  O'Tooley: 3.000% (105630)
#  -------------------------
 # Winner: Khan
 # -------------------------

#In addition, your final script should both print the analysis to the terminal and export a text file with the results.

In [2]:
#Dependencies 
import csv
import os
import copy
import math
import statistics 
import pandas as pd
import numpy as np

In [3]:
#csv with the data - "election_data.csv"
#----------------------------------------
csvpath = 'Data/election_data.csv'
fileoutput = 'Data/electionresultsoutput.txt'

In [4]:
electiondata = []
strconversion = ''
with open(csvpath,newline = '') as csvfile:
    
    csvreader = csv.reader(csvfile,delimiter=",")
    csvheader = next(csvreader)
    
    for row1 in csvreader: 
        electiondata.append(row1)

In [5]:
electiondf = pd.DataFrame(electiondata)
electiondf.columns = ['Voter ID', 'County', 'Candidate']
df_candidateindex = electiondf.set_index('Candidate')
df_candidateindex.head()

           Voter ID County
Candidate
Khan       12864552  Marsh
Correy     17444633  Marsh
Khan       19330107  Marsh
Khan       19865775  Queen
Khan       11927875  Marsh

In [6]:
#The total number of votes cast
totalvotescast = len(electiondf)
totalvotescast

3521001

# A complete list of candidates who received votes
CandidateVoteslist =[]
CandidateVoteslist.append(electiondf.Candidate.unique())
CandidateVoteslist
candidatedf = pd.DataFrame(CandidateVoteslist)

df = pd.DataFrame({'col1': [1, 2],
                   'col2': [0.5, 0.75]},
                  index=['row1', 'row2'])

In [7]:
candidatevotecount = electiondf['Candidate'].value_counts()
#candidatevotecount_df = pd.DataFrame({'Candidate':['Khan','Correy','Li',"O'Tooley"],'# of Votes per Candidate':candidatevotecount})
#candidatevotecount_df.rename(columns={'Candidate':'# of Votes per Candidate'},inplace = True)
#candidatevotecount[0]
candidatevotecountdf = pd.DataFrame({'Candidate Votes':[]})
candidatevotecountdf

Empty DataFrame
Columns: [Candidate Votes]
Index: []

In [8]:
candidatevotecount_dict = candidatevotecountdf.to_dict()
#candidatevotecount_df
candidatevotes = {
    'Khan':candidatevotecount[0],
    'Correy':candidatevotecount[1],
    'Li':candidatevotecount[2],
    "O'Tooley":candidatevotecount[3],
}
candidatevotecount_dict['Candidate Votes'] = candidatevotes
candidatevotecount_df = pd.DataFrame(candidatevotecount_dict)

In [9]:
candidatevotecount_df

          Candidate Votes
Correy             704200
Khan              2218231
Li                 492940
O'Tooley           105630

#New method for dataframes
candidatevotecount_df.set_index([pd.Index([0,1,2,3]),'Candidate'])

In [10]:
candidatevotecount_dict['Candidate Votes']
candidatevotecountdf = pd.DataFrame(candidatevotecount_dict)
totalvotes = candidatevotecountdf["Candidate Votes"].sum()
totalvotes

3521001

In [11]:
#The percentage of votes each candidate won
candidatevotepercentage_dict = {
    'Khan':(candidatevotecount_dict['Candidate Votes']['Khan']/totalvotes*100),
    'Correy':(candidatevotecount_dict['Candidate Votes']['Correy']/totalvotes*100),
    'Li':(candidatevotecount_dict['Candidate Votes']['Li']/totalvotes)*100,
    "O'Tooley":(candidatevotecount_dict['Candidate Votes']["O'Tooley"]/totalvotes*100),
}
candidatevotecount_dict.update(percentagecandidatevotes = candidatevotepercentage_dict) 
candidatevotecount_dict['percentagecandidatevotes']

{'Khan': 63.00001050837531,
 'Correy': 19.999994319797125,
 'Li': 13.999996023857989,
 "O'Tooley": 2.999999147969569}

candidatecounty_dict = {
    'Khan':(candidatevotecount_dict['Candidate Votes']['Khan']/totalvotes*100),
    'Correy':(candidatevotecount_dict['Candidate Votes']['Correy']/totalvotes*100),
    'Li':(candidatevotecount_dict['Candidate Votes']['Li']/totalvotes)*100,
    "O'Tooley":(candidatevotecount_dict['Candidate Votes']["O'Tooley"]/totalvotes*100),
}
for num1  in totalcdf: 
    totalnum.append((num1/100)*totalvotescast)
totalnum

In [12]:
candidatevotesanalysis_df = pd.DataFrame(candidatevotecount_dict)
#candidatevotesanalysis_df.rename()
candidatevotesanalysis_df

          Candidate Votes  percentagecandidatevotes
Khan              2218231                 63.000011
Correy             704200                 19.999994
Li                 492940                 13.999996
O'Tooley           105630                  2.999999

# The total number of votes each candidate won/countys

In [13]:
countycandidatevotes = electiondf.groupby(['Candidate'])
countycandidatevotes.head(5)

     Voter ID County Candidate
0    12864552  Marsh      Khan
1    17444633  Marsh    Correy
2    19330107  Marsh      Khan
3    19865775  Queen      Khan
4    11927875  Marsh      Khan
5    19014606  Marsh        Li
6    17775191  Queen    Correy
7    14003692  Marsh      Khan
9    13870173  Marsh    Correy
11   10591158  Bamoo    Correy
14   17845903  Marsh    Correy
37   17094559  Marsh        Li
38   18233965  Marsh        Li
46   18121503  Bamoo  O'Tooley
53   16471243  Marsh        Li
54   14671650  Bamoo        Li
67   19288647  Queen  O'Tooley
157  16672147  Bamoo  O'Tooley
256  11399651  Marsh  O'Tooley
283  12425096  Marsh  O'Tooley

In [14]:
candidatecountyv = countycandidatevotes['County'].value_counts()
#countyd['County','Candidate'].head()

In [15]:
candidatevotescounty_df = pd.DataFrame(candidatecountyv)
candidatevotescounty_df.rename(columns={'County':'# of Counties Won'},inplace=True)
candidatevotescounty_df

                   # of Counties Won
Candidate County
Correy    Marsh               453015
          Queen               139554
          Bamoo                69752
          Raffah               21055
          Trandee              20824
Khan      Marsh              1427142
          Queen               439494
          Bamoo               219834
          Trandee              65939
          Raffah               65822
Li        Marsh               317651
          Queen                97305
          Bamoo                48639
          Trandee              14741
          Raffah               14604
O'Tooley  Marsh                68149
          Queen                20850
          Bamoo                10433
          Trandee               3113
          Raffah                3085

In [16]:
uniquecandidate = pd.DataFrame(electiondf['Candidate'].unique())
uniquecandidate['Candidate Votes'] = candidatevotesanalysis_df['Candidate Votes']
uniquecandidate.rename(columns={0:'Candidate'},inplace=True)
uniquecandidate

  Candidate  Candidate Votes
0      Khan              NaN
1    Correy              NaN
2        Li              NaN
3  O'Tooley              NaN

In [17]:
candidatevotesanalysis_df

          Candidate Votes  percentagecandidatevotes
Khan              2218231                 63.000011
Correy             704200                 19.999994
Li                 492940                 13.999996
O'Tooley           105630                  2.999999

In [18]:
electionanalysismergeddf = pd.merge(uniquecandidate,candidatevotesanalysis_df,how='left')
electionanalysismergeddf

  Candidate  Candidate Votes  percentagecandidatevotes
0      Khan              NaN                       NaN
1    Correy              NaN                       NaN
2        Li              NaN                       NaN
3  O'Tooley              NaN                       NaN

In [19]:
#The winner of the election based on popular vote.
electiondf.describe()

        Voter ID   County Candidate
count    3521001  3521001   3521001
unique   3521001        5         4
top     13619633    Marsh      Khan
freq           1  2265957   2218231

In [20]:
candidatevotecount_dict['percentagecandidatevotes']['Khan']

63.00001050837531

In [21]:
print(totalvotes,candidatevotecount_dict['percentagecandidatevotes']['Khan'],candidatevotecount_dict['percentagecandidatevotes']['Correy'],candidatevotecount_dict['percentagecandidatevotes']['Li'],candidatevotecount_dict['percentagecandidatevotes']["O'Tooley"])

3521001 63.00001050837531 19.999994319797125 13.999996023857989 2.999999147969569

In [22]:
statsummarydf = electiondf.describe()
statsummarydf
#statsummarydf.loc['top'][2]

        Voter ID   County Candidate
count    3521001  3521001   3521001
unique   3521001        5         4
top     13619633    Marsh      Khan
freq           1  2265957   2218231

In [23]:
electionresultsdict = {
    'Total Votes:':totalvotes,
    'Khan:':candidatevotecount_dict['percentagecandidatevotes']['Khan'],
    'Correy:':candidatevotecount_dict['percentagecandidatevotes']['Correy'],
    'Li:':candidatevotecount_dict['percentagecandidatevotes']['Li'],
    "O'Tooley:":candidatevotecount_dict['percentagecandidatevotes']["O'Tooley"],
    "Winner:":statsummarydf.loc['top'][2],
}

# Final Dataframes 
#['Khan','Correy','Li',"O'Tooley"]
candidatevotecount_df
candidatevotesanalysis_df
candidatevotescounty_df 
candidatevotecount_dict
statsummarydf

In [24]:
 # ```text
 # Election Results
 # -------------------------
 # Total Votes: 3521001
 # -------------------------
 # Khan: 63.000% (2218231)
 # Correy: 20.000% (704200)
 # Li: 14.000% (492940)
#  O'Tooley: 3.000% (105630)
#  -------------------------
 # Winner: Khan
 # -------------------------
electionresults_dictionary = {
    'Election Results':[]
}
electionresults_dictionary['Election Results'] = electionresultsdict
electionresults = pd.DataFrame(electionresults_dictionary)
electionresults

             Election Results
Correy:                    20
Khan:                      63
Li:                        14
O'Tooley:                   3
Total Votes:          3521001
Winner:                  Khan

In [25]:
electionresults['Index']= [0,1,2,3,4,5]
#electionresults.set_index('Index',inplace=True)
electionresults_index = electionresults.index
electionresults

             Election Results  Index
Correy:                    20      0
Khan:                      63      1
Li:                        14      2
O'Tooley:                   3      3
Total Votes:          3521001      4
Winner:                  Khan      5

In [26]:
electionresults_dictionary['Election Results']
#electionresults_dictionary['Election Results']['Total Votes:']

{'Total Votes:': 3521001,
 'Khan:': 63.00001050837531,
 'Correy:': 19.999994319797125,
 'Li:': 13.999996023857989,
 "O'Tooley:": 2.999999147969569,
 'Winner:': 'Khan'}

In [27]:
electionresults_index

Index(['Correy:', 'Khan:', 'Li:', 'O'Tooley:', 'Total Votes:', 'Winner:'], dtype='object')

electionresultsindex = electionresults.set_index('Index')
x = 0
print('Total Votes:',electionresultsindex.loc[0])
print('-------------------------')
while x < 5:
    x = x + 1 
    
    if x == 1 and electionresults_index[x]== 'Correy':
        print(electionresults_index[x], electionresultsindex.loc[x])
        print('-------------------------')
    elif x==2 and electionresults_index[x]== 'Khan' :
        print(electionresults_index[x], electionresultsindex.loc[x])
        print('-------------------------')
    elif x==3 and electionresults_index[x]== 'Li' :
        print(electionresults_index[x], electionresultsindex.loc[x])
        print('-------------------------')
        
    elif x==4 and electionresults_index[x]== "O'Tooley":
        print(electionresults_index[x], electionresultsindex.loc[x])
        print('-------------------------')  
        
    elif x==5 and electionresults_index[x]== 'Winner' : 
        print(electionresults_index[x], electionresultsindex.loc[x])
        print('-------------------------')

In [28]:
electionresults.columns

Index(['Election Results', 'Index'], dtype='object')

# In addition, your final script should both print the analysis to the terminal and export a text file with the results.

In [29]:
keyoutput = ''
resultoutput = ''
totaloutput = ''
type(keyoutput)

str

In [30]:
electionresultkeys = electionresults_dictionary['Election Results'].keys()
electionresultkeys

dict_keys(['Total Votes:', 'Khan:', 'Correy:', 'Li:', "O'Tooley:", 'Winner:'])

In [31]:
with open(fileoutput,'w') as txt_file:
    txt_file.write('Election Results')
    txt_file.write('\n')
    txt_file.write('-------------------------')
#Printing to the terminal
    print('-------------------------','\n','Election Results','\n')
    
    for x in electionresults_dictionary['Election Results']:
      
        if x == 'Total Votes:':
            txt_file.write('\n')
            keyoutput = x
            resultoutput = electionresults_dictionary['Election Results'][x]
            totaloutput = str(keyoutput) + str(resultoutput)
            txt_file.write(str(keyoutput)+str(resultoutput))
            txt_file.write('\n')
            txt_file.write('-------------------------')
            txt_file.write('\n')
        #Printing to the terminal
            print('-------------------------','\n',totaloutput,'\n','-------------------------')
            
        elif x == 'Winner:':
          
            txt_file.write('\n')
            keyoutput = x
            resultoutput = electionresults_dictionary['Election Results'][x]
            totaloutput = str(keyoutput)+str(resultoutput)
            txt_file.write('-------------------------')
            txt_file.write('\n')
            txt_file.write(str(totaloutput))
            txt_file.write('\n')
            txt_file.write('-------------------------')
            txt_file.write('\n')
        #Printing to the terminal
            print('-------------------------','\n',totaloutput,'\n','-------------------------')
        else:
            keyoutput = x
            resultoutput = electionresults_dictionary['Election Results'][x]
            totaloutput = str(keyoutput)+'       ' + str(resultoutput)+' %'
            txt_file.write(str(totaloutput))
            txt_file.write('\n')
        #Printing to the terminal
            print(totaloutput,'\n')

-------------------------
 Election Results

-------------------------
 Total Votes:3521001
 -------------------------
Khan:       63.00001050837531 %

Correy:       19.999994319797125 %

Li:       13.999996023857989 %

O'Tooley:       2.999999147969569 %

-------------------------
 Winner:Khan
 -------------------------

In [35]:
readfile = open(fileoutput,'r')
print(readfile,'\n')
print(readfile.read())

<_io.TextIOWrapper name='Data/electionresultsoutput.txt' mode='r' encoding='cp1252'>

Election Results
-------------------------
Total Votes:3521001
-------------------------
Khan:       63.00001050837531 %
Correy:       19.999994319797125 %
Li:       13.999996023857989 %
O'Tooley:       2.999999147969569 %

-------------------------
Winner:Khan
-------------------------